.navbar{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    /* max-width: 1024px; */

}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: orangered;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 1000;
    font-size: 22px;
}

.navButton{
    margin-left: 20px;
    border: 0em;
    padding: 8px 10px;
    width: 100px;
    cursor: pointer;
    color: white;
    background-color: orangered;
    /* border: 1px solid white; */
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}
